// Welcome to Gumby 2.0 Settings.
// Happy Tinkering!


// Grid Settings
$row-max-width: 2520px !default;
$gutter-in-px: 20px !default;
$cols: 12 !default;
$hybrid: 16 !default;

// Responsiveness Settings
$min-device-width: 320px;
$tablet-device-width: 1024px;
$document-width: $row-max-width;
$max-device-width: 2880px;

// Spacing
$nav-distance: 0px;

// Typography
$font-family: "Lato";
$font-style-italic: italic;
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 700;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;


$header-font-weight: Normal;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
//$base-line-height: ms(1) !default;
$rhythm-spacing: .168;
$rhythm-height: .711;

// Modular Scale Settings
// http//www.modularscale.com by Tim Brown
// https//github.com/scottkellum/modular-scale
$ms-ratio: $golden;
$importantNum: 78px !default;
//$base-size: $base-font-size $importantNum;
$ms-base: 13px $importantNum;

$base-font-size: ms(0) !default;

// Gumby Default Scale Values 16, 18, 26, 30, 42, 48, 68, 78, 110, 126

// Sizing
$xsmall: ms(-2);
$small: ms(-1);
$norm: ms(0);
$little-bigger: ms(0) + 1;
$med: ms(1);
$large: ms(2);
$larger: ms(3);
$xlarge: ms(4);
$xxlarge: ms(5);
$xxxlarge: ms(6);
$reallybig: ms(8);
$tremendous: ms(9);
$absurd: ms(10);

$emerland:              #2ecc71;
$nephritis:             #27ae60;

$peter-river:           #3498db;
$belize-hole:           #2980b9;

$amethyst:              #9b59b6;
$wisteria:              #8e44ad;

$wet-asphalt:           #34495e;
$midnight-blue:         #2c3e50;

$sun-flower:            #f1c40f;
$orange:                #f39c12;

$carrot:                #e67e22;
$pumpkin:               #d35400;

$alizarin:              #e74c3c;
$pomegranate:           #c0392b;

$clouds:                #ecf0f1;
$silver:                #bdc3c7;

$concrete:              #95a5a6;
$asbestos:              #7f8c8d;

$white:                 #ffffff;
$smooth-grey:           #545454;
$light-smooth-grey:     #5a5a5a;
$mid-grey:              #878787;

$light-grey:            #f7f7f7;


// Typography Colors
$header-font-color: #d2d2d2 !default;
$header-link-color: #d04526 !default;
$header-link-hover-color: #c03d20 !default;
$body-font-color: #707070 !default;
$body-hover-color: #f9fafb !default;
$body-link-color: #2185c5 !default;
$body-link-hover-color: #434951 !default;
$sidebar-icon-color: #8a8b8f;

// User Interface Colors

// $awesome-blue:#539ad1;
$awesome-red:#c44b51;
$global-bg-color: #fff;
// $global-bg-color: #f9fafb;
$main-content-bg-color: #ffffff;

// $navbar-color: #202b33;
$border-color:#e3e4e6;
$navbar-link-color: #777;
$primary-color: #2185c5;
$secondary-color: #58c3e5;
$default-color: $global-bg-color;
$info-color: #3d4046;
$danger-color: $alizarin;
$warning-color: $carrot;
$success-color: #27c295;
$primary-hover-color: #0b9ba4;
$secondary-hover-color: #4fafce;
$default-hover-color: #d9d9d9;
$info-hover-color: #36393f;
$danger-hover-color: $pomegranate;
$warning-hover-color: $pumpkin;
$success-hover-color: #28a182;
$horizontal-rule-color: $border-color !default;
$black: #000;
$white: #fff;


$sidebar-header-color: #294d68;
$sidebar-header-bg-color: #7c858e;
$sidebar-header-border-color: #2b2f33;
$sidebar-font-color: #7c858e;
$sidebar-background-color: #33373b;
$sidebar-hover-color: #2f3338;

//submenu
$submenu-header-color: $peter-river;
$submenu-header-bg-color: #ffffff;
$submenu-header-border-color: #2b2f33;
$submenu-font-color: $body-font-color;
$submenu-background-color: #33373b;
$submenu-hover-color: #f3f4f7;
$submenu-font-hover-color: #f3f4f7;

//secondary nav bar
$navbar-color: $white;
$secnavbar-bg-color: $white;

//Feeds
$feed-title-color: #2185c5;
$feed-link-bg-color: #f5f5f5;
$feed-link-text-color: #c1c2c5;
$feed-comment-bg-color: #f8f8f8;
$feed-footer-link-color: #969696;

//Horizontal menu
$horizontal-menu-bg-color: #3c3c3c;
$horizontal-menu-hover-color: #363636;
$horizontal-menu-font-color:#e6e6e6;

// Borders
$button-radius: 4px;
$metro-radius: 0 !default;
$bigger-radius: 8px;

//footer

$footer-color: #202b33;

// Buttons
// Font Sizing
$xlarge-button-font-size: $larger;
$large-button-font-size: $large;
$medium-button-font-size: $norm;
$small-button-font-size: $small;

// Padding
$default-button-padding: $med;

// Height
$default-button-height: 36px;

// Form Elements
$form-text-input-stroke: #ccc;
$form-text-input-background: $white;
$form-text-input-placeholder-color: $default-color;
$form-text-input-color: #555;

$form-select-stroke: #ccc;
$form-select-background: $white;
$form-select-color: #555;


// Tabs
$tab-height: 42px;

// Navigation
$navcontain-height: 80px; // makes space at the top of a document for when using a fixed nav


// Drawers & Modals
$modal-overlay-color: rgba(0, 0, 0, 0.5);
$modal-window-color: $white;
$drawer-background-color: #3e4144;
$drawer-inner-shadow-x-offset: 0;
$drawer-inner-shadow-y-offset: 2px;
$drawer-inner-shadow-blur: 5px;
$drawer-inner-shadow-color: #313436;

// Tables
$table-bgcolor: #fff;
$table-thead-bgcolor: $primary-color;
$table-row-first-cell-font-weight: bold;
$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: #e5e5e5;
$table-cell-border-size: 1px;
$table-cell-border-color: #e5e5e5;
$table-cell-border-style: solid;

// .rounded
$table-border-radius: 4px;

// .striped
$table-stripe-bgcolor: #e5e5e5;

// Tooltips
$tt-min-width: 130px;
$tt-bgcolor: $primary-color;
$tt-position: top;					// position: top / bottom / left / right
$tt-align: left;					// text and caret alignment: left / right
$tt-pretty: yes;					// yes = pretty / no = flat

// Floats
$default-float: left;
$switch-float: right;

//question sections
$question-section-border-color: $global-bg-color;
$question-content-bg-color: $main-content-bg-color;




//Tags
$tag-bg-color: #d9edf7;
$tag-bg-hover-color: #b7e3f9;
$tag-color: #3a87ad;
$tag-remove-link-color: #34b5f6;
