%p
  Hi there,

%p
  Welcome aboard Teamroq.We hope you enjoy it as much as we do. 
%p
  Here are few things to help you get started.
%ul
  %li  
    You can invite your team members 
    %a{href: "https://www.teamroq.com/users/invitation/new"}
      here.
  %li
    You can view all your projects ,create a new project and start assigning tasks
    %a{href: "https://www.teamroq.com/projects"}
      here.
  %li
    You can create Groups/Teams 
    %a{href: "https://www.teamroq.com/groups"}
      here.
  %li
    You can ask questions, create interesting topics 
    %a{href: "https://www.teamroq.com/questions"}
      here.

