%p
  Hi there,

%p
  Welcome aboard Teamroq.We hope you enjoy it as much as we do. 
%p
  Here are few things to help you get started.
%ul
  %li
    You can view all updates from your organization in a beautiful feed
    %a{href: "https://www.teamroq.com/activites"}
      here.
  %li
    You can view all your projects ,create a new project and start assigning tasks
    %a{href: "https://www.teamroq.com/projects"}
      here.
  %li
    You can create Groups/Teams 
    %a{href: "https://www.teamroq.com/groups"}
      here.
  %li
    You can find interesting topics , follow them 
    %a{href: "https://www.teamroq.com/questions"}
      here. 
    If you dont find something, why not start it?

