.big-left-margin
  .row.small-margin-top.user-name-box
    .eight.columns
      .row
        .ten.columns
          %h4 Notifications

      .row
        - if @activities.presence
          .twelve.columns.small-top-margin
            = render partial: 'scoped_activities', collection: @activities, as: :activity
    