development:
  server: http://localhost/faye/faye
  secret_token: "secret"
test:
  server: http://localhost/faye/faye
  secret_token: "secret"
production:
  #Use your domaine.g., https://teamroq.example.com/faye/faye
  server: https://www.example.org/faye/faye
  # Run 'rake secret' and paste the output here.
  secret_token: ""
