.section.footer
  .row
    .ten.centered.columns
      %span
        =link_to "Terms", "/terms.html"
      %span
        \.
      %span
        =link_to "Privacy", "/privacy.html"
      %span
        \.
      %span.text-primary
        2014 All rights reserved