# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

# bin folder location where image magick is installed.
image_magick_install_location: 
# Refer to secret_token.rb for documentation
application_secret_key_base: 
# This email address will be used in communications
mailer_email_address: 
# Password, Make sure you dont put this file on Version control
mailer_email_password: 


development:
  # This email address will be used in communications
  mailer_email_address: 
  # SMTP server details of the mailer
  mailer_smtp_server: 
  # SMTP port details of the mailer
  mailer_smtp_port: 
  # Domain name where Teamroq is installed for e.g. teamroq.xxx.com
  domain_name: 




production:
  # This email address will be used in communications
  mailer_email_address: 
  # SMTP server details of the mailer
  mailer_smtp_server: 
  # SMTP port details of the mailer
  mailer_smtp_port: 
  # Domain name where Teamroq is installed for e.g. teamroq.xxx.com
  domain_name: ""
  # faye location , add your website name here e.g., https://www.acme.com/faye/faye
  faye_location: "https://www.<ADD YOUR HOST>.com/faye/faye"
  # Generate a very long hex value, that will be used as your secret token.
  faye_secret_token: "<ADD YOUR OWN SECRET TOKEN HERE>"
