#error_explanation{
  padding: 8px 4px 8px 30px;
  font-family: $font-family;
  font-weight: $font-weight-semibold;
  background-color: #f8f5f5;
  border: 1px solid #ebe9ea;
  
  h2,h5{
    color: #e74c3c;
    font-size: 16px;
    }
}
