.main-bar-down{
  // margin-top: 60px;
  height: 60px;
  display: block;
}

.feed-container{
  background-color: $white;
}

.post-item{
  background-color: $white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.post-name{
  margin-bottom: 0px;
  font-size: 1.1em;
}
.item-time-ago{
  font-size: 12px;
  color: #c0c0c0;
  margin-left: 1em;
}

.subbar-comment-name{
  margin-bottom: 0px;
  font-size: 1em;

}

.middle-image{
  vertical-align: text-top;
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

.post-box-wrapper{
  @include box-shadow(inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07));
  margin-bottom: 20px;
}

.notification-wrapper-box{
   margin-left: 10px;
}
.wrapper-box{
   padding-bottom: 10px;
   padding-left: 10px;
   overflow: hidden;
}

.pad-right{
  padding-right: 1em;
}

.bottom-item-bar{
  background-color: $feed-comment-bg-color;
  display: block;
}

.item-wrapper{
  display: inline-block;
  padding-left: 10px;
  a{
    font-size: 0.9em;
    font-weight: 600;
    color: $feed-footer-link-color;
  }
}


.post-user-name{
  font-weight: 800;
  margin-left: 0.5em;
}

.post-box{
  margin-top: 10px;
  margin-bottom: 50px;
}

.white{
  color: $white;
}

.next-line{
  display: block;
}