.small-padding-left{
	padding-left:10px;
}

.activity-time-ago{
	padding-top:5px;
}

.activity-side-task{
  padding-left: 20px;
  background-image: image_url("pin-small.png");
  background-repeat: no-repeat;
  display: block;
  font-size: 1em;
  background-position: left 0.5em;
}
