.row.usersignature
  .two.columns.askerimg.image.square
    = image_tag user.profile_picture.url(:medium)
  .ten.columns.askerinfo.small
    %a.small-font{href: user_path(user)}
      = user.name
    